{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "VoiceData",
      "Space": "Lab"
    },
    "Name": "realtime-tone",
    "Instrumentation": {
      "host": "realtime-tone-wiiva",
      "domain": "mybluemix.net"
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}